@model VolleyballMvc.Models.TeamsModel
@using VolleyballMvc.Models

@{
    ViewBag.Title = "Teams";
}

<hgroup class="title"></hgroup>

@section css{
    @if (ViewBag.gender == "female")
    {
        <link href="@Url.Content("~/Content/Styles/TeamsW.css")" rel="stylesheet" />
    }
    else
    {
        <link href="@Url.Content("~/Content/Styles/Teams.css")" rel="stylesheet" />
    }

}

<article>
    <div id="main">
        <h1 class="pageTitle">Teams</h1>
        <div id="content">
            @if (Model != null)
            {
                <div class="Teams">

                    @foreach (var team in Model.Teams)
                    {
                        <div class="UpperLine">
                        </div>

                        <div class="Team">
                            <a class="styled" href="@Url.Action("Index", "Team", new { teamId = @team.Id, gender = @ViewBag.gender })">
                                <div id="SmallLogo">
                                    <img id="smallImage" src="~/Content/Images/smalLogo5.jpg" width="50" height="50" />
                                </div>
                                <div id="TeamName">
                                    @String.Format("{0, -20} >", team.Name)
                                </div>
                            </a>

                        </div>
                        <div class="LowerLine">
                        </div>
                        <div class="EmptyLine">
                        </div>
                    }
                </div>
            }
            else
            {
                <h1>There are no teams. Please, check later.</h1>
            }
        </div>
    </div>
</article>