@model VolleyballMvc.Models.GameScheduleModel

@{
    ViewBag.Title = "Games";
}

<hgroup class="title"></hgroup>

@section css{
@if (ViewBag.gender == "female")
    {
    <link href="@Url.Content("~/Content/Styles/GamesW.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Styles/GameScheduleW.css")" rel="stylesheet" />

}
else
{
    <link href="@Url.Content("~/Content/Styles/Games.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Styles/GameSchedule.css")" rel="stylesheet" />
}
    
}

<article>
    <div id="main">
        <h1 class="pageTitle">Games</h1>
        <div id="content">
            <div id="calendar">
                <div class="month-picker">                    
                    <fieldset class="month-picker-fieldset">
                        @foreach ( var month in System.Globalization.DateTimeFormatInfo.CurrentInfo.MonthNames )
                        {
                            if ( !string.IsNullOrEmpty( month ) )
                            {
                                <form>
                                    <input type="submit" name="month" value="@month" id="@month" style="display:none">
                                    <label for="@month" class="@Model.GetMonthClass( month )" onclick="form.submit();">@month.Substring( 0 , 3 )</label>
                                </form>
                            }
                        }
                    </fieldset>                    
                </div>
            </div>
            <div id="info">
                @Html.Partial( "GameSchedule" , Model )
            </div>
        </div>
    </div>
</article>
