@model VolleyballMvc.Models.GameScheduleModel
@using VolleyballMvc.Models

@if ( Model != null )
{
    <div class="GameSchedule">
        @foreach ( var game in Model.Games )
        {
            <div class="GameScheduleSection">
                <div class="GameDate">
                    @game.Date.ToString( "dd MMM yyyy" )
                </div>
                <div class="GameLocation">
                    Location: @game.Location
                </div>
                <div class="Teams">
                    <div class="Team1">@game.Teams[ 0 ].Name</div>
                    <div class="Score">@game.Score</div>
                    <div class="Team2">@game.Teams[ 1 ].Name</div>
                </div>
            </div>
        }
    </div>
}
else
{
    <h1>There is no upcoming games. Please, check later.</h1>
}
