@model VolleyballMvc.Models.GameScheduleModel
@using VolleyballMvc.Models

@if ( Model != null )
{
    <div class="GameSchedule">
        @foreach ( var gameByDay in Model.Games )
        {
            if ( gameByDay.Value.Count > 0 )
            {
                <div class="GameScheduleSection">
                    <div class="GameDate">
                        @gameByDay.Key.ToString( "dd MMM yyyy" )
                    </div>
                    @foreach ( var game in gameByDay.Value )
                    {
                        <div class="GameLocation">
                            Location: @game.Location
                        </div>
                        <div class="Teams">
                            <div class="Team1">@game.Teams[ 0 ].Name </div>
                            <div class="Score">@game.Score.Trim( new char[] { '(' , ')' , ';' } ).Replace( ", " , ":" )</div>
                            <div class="Team2">@game.Teams[ 1 ].Name</div>
                        </div>
                    }
                </div>
            }
        }
    </div>
}
else
{
    <h1>There is no upcoming games. Please, check later.</h1>
}
